body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
li {
  list-style-type: none;
}
.order-service {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  
}
.order-service:hover {
  background-color: #404bbf;
}
.order-service:focus {
  background-color: #404bbf;
}
.menu-buttons {
  color: #2e2f42;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.section-two-title {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-size: 20px;
  color: #2e2f42;
  background-color: #FFFFFF;
}
.section-two-paragraph {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
  color: #434455;
}
.menu-buttons:focus {
  color: #404bbf;
}
.menu-buttons:hover {
  color: #404bbf;
}
.menu-buttons:active {
  color: #404bbf;
  text-decoration: underline;
}
.menu-contacts {
  text-decoration: none;
  color: #434455;
}
.menu-contacts:focus {
  color: #404bbf;
}
.menu-contacts:active {
  color: #404bbf;
}
.menu-contacts:hover {
  color: #404bbf;
}
.main-background {
  text-align: center;
  color: #ffffff;
  background-color: #2e2f42;
}
.main-background h1 {
  letter-spacing: 0.02em;
  line-height: 1.07;
  font-size: 56px;
}
.logo span {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #2e2f42;
}
.logo {
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #4d5ae5;
  text-decoration: none;
}
.studio {
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #2e2f42;
  text-decoration: none;
}
.logo-footer span {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #2e2f42;
}
.footer {
  background-color: #2e2f42;
}
.our-team {
  background-color: #f4f4fd;
}
.our-team h2 {
  text-align: center;
  font-size: 36px;
  line-height: 40px;
}
.address {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.ul-three-section {
  background-color: #FFFFFF;
}
.li-three-first {
  background-color: #FFFFFF;
}
.our-team {
  line-height: 1.11;
  text-transform: capitalize;
}
.section-three-title {
  line-height: 1.11;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 20px;
  color: #2e2f42;
  background-color: #FFFFFF;
}
