body {
  font-family: "Roboto", sans-serif;
}
li {
  list-style-type: none;
}
.order-service {
  background-color: #4d5ae5;
  cursor: pointer;
  width: 169px;
  height: 56px;
}
.order-service:hover {
  background-color: #404bbf;
}
.menu-buttons {
  color: #2e2f42;
  text-decoration: none;
}
.menu-buttons:hover {
  color: #404bbf;
}
.menu-buttons:active {
  color: #404bbf;
  text-decoration: underline;
}
.menu-contacts {
  color: #2e2f42;
  text-decoration: none;
}
.menu-contacts:hover {
  color: #404bbf;
}
.main-background {
  width: 1440px;
  height: 600px;
  text-align: center;
  color: #ffffff;
  background-color: #2e2f42;
}
.logo span {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #4d5ae5;
}
.logo {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #2e2f42;
  text-decoration: none;
}
.logo-footer span {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #4d5ae5;
}
.logo-footer {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
}
footer {
  background-color: #2e2f42;
  width: 1440px;
  height: 312px;
}
.our-team {
  background-color: #f4f4fd;
  width: 1440px;
  height: 732px;
}
.our-team h2 {
  text-align: center;
  font-size: 36px;
  line-height: 40px;
}
