body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
li {
  list-style-type: none;
}
.order-service {
  background-color: #4d5ae5;
  cursor: pointer;
}
.order-service:hover {
  background-color: #404bbf;
}
.menu-buttons {
  color: #2e2f42;
  text-decoration: none;
}
.menu-buttons:hover {
  color: #404bbf;
}
.menu-buttons:active {
  color: #404bbf;
  text-decoration: underline;
}
.menu-contacts {
  color: #2e2f42;
  text-decoration: none;
}
.menu-contacts:hover {
  color: #404bbf;
}
.main-background {
  text-align: center;
  color: #ffffff;
  background-color: #2e2f42;
}
.logo span {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #4d5ae5;
}
.logo {
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #4d5ae5;
  text-decoration: none;
}
.studio {
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #2e2f42;
  text-decoration: none;
}
.logo-footer span {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
}
.footer {
  background-color: #2e2f42;
}
.our-team {
  background-color: #f4f4fd;
}
.our-team h2 {
  text-align: center;
  font-size: 36px;
  line-height: 40px;
}
